.gameStep {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: red;
}

.gameStep.select {
  background: url(/public/assets/backs/back03.jpg);
  background-position: center;
  background-size: cover;
}

.gameStep.gameSelect {
  background: url(/public/assets/backs/back04.jpg);
}

.gameStep.unitSelect {
  background: url(/public/assets/backs/back05.jpg);
}

.setupBtnBack,
.setupBtnNext {
  position: fixed;
  bottom: 1rem;

  padding: 8px 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.setupBtnBack {
  left: 5rem;
}

.setupBtnNext {
  right: 3rem;
}
