.helpSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #111;
  width: 100vw;
  color: #fcfcfc;
  padding: 9rem 2rem 1rem;
}

.helpSection h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.helpSection h2 {
  background: darkred;
  font-size: 2.3rem;
  padding: 4px 8px;
  margin-bottom: -1rem;
}

.helpSection ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 6rem;
}

.helpSection ul h3 {
  font-size: 2rem;
  margin-bottom: 4px;
}

.helpSection ul h3.phase {
  font-size: 2.8rem;
  margin-bottom: 12px;
}

.helpSection ul li {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.ejs {
  margin-top: 1rem;
  background: #fcfcfc;
  color: #111;
  padding: 0.5rem 1rem;
}

.fase h4 {
  margin: 2.4rem 0 1rem;
  font-size: 2rem;
  background: rgb(255, 36, 36);
  padding: 4px 8px;
}

.helpHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
