.backBtn {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
}

.backBtn img {
  width: 100%;
  height: 100%;
}
