.armiesSection {
  background: #11111193;
  color: #fcfcfc;
  width: 100vw;
  height: 64vh;
  position: absolute;
  bottom: 18vh;
  padding: 1rem 2rem;
  justify-content: start;
  overflow: scroll;
}

.armiesSection h2 {
  margin-bottom: 1rem;
}

.armiesSection h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.datasheetTable {
  width: 85vw;
  margin-bottom: 2rem;
  border-collapse: collapse;
  background: #111;
  color: #eee;
}

.unitHeader th {
  background: #2b2b2b;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: left;
}

.statsHeader th {
  background: #1c1c1c;
  text-align: center;
  padding: 0.8rem;
}

.statsRow td {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.sectionTitle td {
  background: #2b2b2b;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.abilitiesList,
.weaponsList {
  margin: 0;
  padding-left: 1rem;
  padding: 1rem;
}

.abilitiesList li {
  margin-bottom: 1rem;
}

.weaponsList li {
  margin-bottom: 2rem;
}

.weaponItem {
  align-items: flex-start;
  gap: 0.2rem;
}

.weaponItem h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
