.unitHeader th {
  background: #bb0000;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.unitHeader h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 0;

}

.unitHeader ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 1rem;
}

.unitHeader ul li {
  font-size: 1rem;
  text-transform: capitalize;
}
