.campaignSection {
  background: url(/public/assets/backs/latido01.jpg) no-repeat center center
    fixed;
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.campaignSection .campaignTitle {
  font-size: 1.2rem;
  color: #fcfcfc;
  position: absolute;
  top: 5rem;
  text-transform: uppercase;
  text-shadow: 0 0 2px #111;
  z-index: 3;
}

.campaignActions {
  position: absolute;
  bottom: 0;
  background: #111111b6;
  color: #fcfcfc;
  width: 100vw;
  height: 18vh;
  padding: 1rem 3rem 2rem;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.campaignActions li {
  font-size: 1.4rem;
}
