.game-points-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.game-points-summary p {
    filter: drop-shadow(0 0 12px #111);
    color: #fcfcfc;
}