.armiesList {
  background: url(/public/assets/backs/back06.png) no-repeat top center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  overflow: scroll;
}

.armiesList ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
}

.armiesTittle {
  position: absolute;
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
}

.armiesSection {
  background: #11111193;
  color: #fcfcfc;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: start;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.armiesSection h2 {
  margin-bottom: 1rem;
}

.armiesSection h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.backArmieBtn {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 70px;
}

.backArmieBtn.shadow {
  filter: drop-shadow(0 0 8px #6784c0);
}

.backArmieBtn img {
  width: 100%;
}

.imperialFist,
.mechanicus,
.sororitas,
.tyranids {
  height: 140px;
  font-size: 1.3rem;
}

.imperialFist {
  background: url(../../public/assets/backs/backFist.png);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px #ccb36e;
}

.mechanicus {
  background: url(../../public/assets/backs/backMech.png);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px #e9a463;
}

.sororitas {
  background: url(../../public/assets/backs/backSoro.png);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px #a78b32;
}

.tyranids {
  background: url(../../public/assets/backs/backTyr.png);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px #fcfcfc;
}
