.armiesList {
  background: url(/public/assets/backs/back02.webp) no-repeat center center
    fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  overflow: scroll;
}

.armiesList ul {
  margin-top: 7rem;
}

.backArmieBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 60px;
  z-index: 20;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
}

.backArmieBtn.armiePage {
  top: 2rem;
  left: 2.5rem;
}

.backArmieBtn img {
  width: 100%;
  height: 100%;
}

.armiesHeader {
  position: absolute;
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
}

.armiesSection {
  background: #11111193;
  color: #fcfcfc;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: start;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.armiesSection h2 {
  margin-bottom: 1rem;
}

.armiesSection h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.datasheetTable {
  width: 100vw;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  background: #111;
  color: #eee;
}

.unitHeader th {
  background: #2b2b2b;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: left;
}

.statsHeader th {
  background: #1c1c1c;
  text-align: center;
  padding: 0.8rem;
}

.statsRow td {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.sectionTitle td {
  background: #2b2b2b;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.abilitiesList,
.weaponsList {
  margin: 0;
  padding-left: 1rem;
  padding: 1rem;
}

.abilitiesList li {
  margin-bottom: 1rem;
}

.weaponsList li {
  margin-bottom: 2rem;
}

.weaponItem {
  align-items: flex-start;
  gap: 0.2rem;
}

.weaponItem h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.datasheetImg {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top;
}

.weaponStats {
  width: 40vw;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.weaponImg {
  margin-top: 2rem;
  width: 50vw;
  height: 150px;
}

.inv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 50%;
}

.doctrinasSection {
  padding: 19rem 2rem 4rem;
  background: #111;
}

.doctrinasSection.destacamentosSection {
  margin-top: 0rem;
  padding: 4rem 2rem;
  background: rgb(102, 0, 0);
}

.doctrinasSection h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.doctrinasSection h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.doctrinasSection p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.mejoraSection {
  background: #fcfcfc;
  color: darkred;
  padding: 1rem;
  margin-top: 4rem;
}

.mejoraSection h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.mejoraSection h4 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.mejoraSection span {
  background: darkred;
  color: #fcfcfc;
  display: flex;
  padding: 2px 4px;
}

.unitLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: fit-content;
  z-index: 10;
}

.factionBanner {
  width: 120%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  filter: invert(1) drop-shadow(0 0 4px #111);
  position: relative;
}

.unitsList {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 7rem;
  left: 8rem;
  width: 60vw;
  background: #fcfcfc;
  border-radius: 12px;
  padding: 2rem;
  color: #111;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    pointer-events 0.3s ease;
  z-index: 10;
}

.unitsList ul {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.unitsList.active {
  opacity: 1;
  pointer-events: auto;
}

.navTopBar {
  display: flex;
  gap: 2rem;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #111;
  width: 100vw;
  height: 18vh;
  padding: 2rem;
  z-index: 10;
}

.helpArmieBtn {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.helpArmieBtn img {
  width: 100%;
  height: 100%;
}
