@font-face {
  font-family: witch;
  src: url(../public/assets/fonts/witch.ttf);
}

.home {
  background: url(/public/assets/backs/backHome.png) no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.logo {
  width: 300px;
  filter: drop-shadow(0 0 20px #575757);
  position: absolute;
  top: 6vh;
}

.linkContainer {
  background: url(../public/assets/backs/backHomeCard.png);
  background-size: cover;
  box-shadow: 0 0 12px #575757;
  color: #111;
  font-size: 1.2rem;
  text-shadow: 0 0 20px #fcfcfc;
  font-family: witch;
  width: 85vw;
  height: 90px;
  border-radius: 8px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  padding-top: 8px;
}

.campaignFaction {
  width: 40px;
  margin-right: 1rem;
  filter: drop-shadow(0 0 2px #fcfcfc);
}

.campaignsLinks {
  position: relative;
  top: 65px;
}
