@font-face {
  font-family: witch;
  src: url(../public/assets/fonts/witch.ttf);
}

.home {
  background: url("../public/assets/backs/backHome.png") no-repeat center center
    fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  width: 220px;
  filter: drop-shadow(0 0 20px #806a42);
  position: absolute;
  top: 1vh;
}

.linkContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #523500;
  width: 85vw;
  height: 125px;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.campaignFaction {
  width: 40px;
  margin-right: 1rem;
  filter: drop-shadow(0 0 2px #fcfcfc);
}

.campaignsLinks {
  justify-content: flex-start;
  position: absolute;
  top: 26vh;
  height: 73vh;
  overflow: scroll;
}

/* CAMPAÑAS */
.linkContainer.campaign {
  background-image: url("../public/assets/backs/backCamp.png");
}

/* EJÉRCITOS */
.linkContainer.armies {
  background-image: url("../public/assets/backs/backArmies.png");
}

/* GUÍAS */
.linkContainer.guides {
  background-image: url("../public/assets/backs/backGuides.png");
}

/* PARTIDAS */
.linkContainer.games {
  background-image: url("../public/assets/backs/backGames.png");
}
