* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
