.helpHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 1rem 2rem;
  position: absolute;
  gap: 1.8rem;
  background: #111;
  top: 0;
}

.helpNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.helpLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -2vh;
}

.homeBtn,
.armyBtn {
  width: 80px;
}

.homeBtn {
  width: 60px;
}

.homeBtn img,
.armyBtn img {
  width: 100%;
  filter: invert(1);
}

.toTopBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
